<!DOCTYPE html>
<html>
<head>
    <title>Upload Resource</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resources/style.css' %}">
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
        <h1>Upload Resource</h1>
        <div class="card">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
        <br><a href="/">Back to list</a>
    </div>
</body>
</html> 